@{
    ViewData["Title"] = "Dashboard Inicial";
}

<div class="text-center">
    <h1 class="display-4">Darshboard Inicial</h1>
    <p>Área logada mencionada no item 2</p>

    <a class="btn btn-primary" href="/Usuario">Ver usuários</a>
</div>
