@model Microsoft.AspNetCore.Identity.IdentityUser
@{
    ViewData["Title"] = "Detalhes do usuário";
}

<div class="row">
    <h1>@ViewData["Title"]</h1>

    <div class="col-md-6">
        <dl class="row">
            <dt class="col-sm-3">Nome</dt>
            <dd class="col-sm-9">@Model.UserName</dd>

            <dt class="col-sm-3">Email</dt>
            <dd class="col-sm-9">@Model.Email</dd>

            @if (!string.IsNullOrEmpty(Model.PhoneNumber))
            {
                <dt class="col-sm-3">Telefone</dt>
                <dd class="col-sm-9">@Model.PhoneNumber</dd>
            }
        </dl>

        <a class="btn btn-secondary" href="/Usuario">Voltar para a lista</a>
    </div>
</div>